{
    "presets": [
        ["env", {
            "targets": {
                "node": true
            },
            "loose": true
        }],
        "react"
    ],
    "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread",
        "syntax-dynamic-import"
    ]
}
